{% extends 'base.html' %}


{% block title %}

Mon profile

{% endblock title %}


{% block content %}


<div class="  mx-auto mt-16 bg-white rounded-lg shadow-md w-1/4  ">
    <div class="px-6 py-8">
        <h2 class="text-2xl font-bold text-purple-700">Mon Profil</h2>
        <p class="mt-2 text-gray-500">Informations personnelles</p>
        <div class="mt-4">
            <div class="flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/128/5686/5686735.png" alt="Avatar"
                    class="w-12 h-12 rounded-full">
                <div class="ml-4">
                    <h3 class="text-lg font-semibold text-gray-800">{{ profile_user.last_name }}</h3>

                    {% if profile_user.is_teacher %}
                    <p class="text-purple-700">Professeur</p>

                    {% else %}
                    <p class="text-purple-700">Etudiant</p>
                    {% endif %}


                </div>
            </div>
            <div class="mt-4">
                <p class="text-gray-700">Email: <a href="mailto:{{ profile_user.email }}" class="text-purple-700">
                        {{ profile_user.email}}</a></p>
                <p class="text-gray-700">Téléphone:
                    <a href="tel:{{ profile_user.phone_number }}" class="text-purple-700">
                        {{ profile_user.phone_number}}</a>
                </p>
                <p class="text-gray-700">Adresse:
                    <i class=" font-semibold">{{ profile_user.city }}, {{ profile_user.country }}</i>
                </p>
                <br>

                {% if profile_user.id == user.id %}
                <div class="flex flex-row">
                    <a href="{% url 'delete_account' %}" class=" bg-red-500 text-white p-3 mt-10 rounded-lg">
                        Supprimer mon compte</a>

                    {% if not user.is_teacher %}
                    <a href="{% url 'become_teacher' %}" class=" bg-green-500 text-white p-3 mt-10 rounded-lg ml-5">
                        Devenir un enseignant</a>
                    {% endif %}


                </div>
                {% endif %}




            </div>

        </div>
    </div>

</div>


{% endblock content %}