{% extends 'base.html' %}


{% block title %}

Mon profile
{% endblock title %}


{% block content %}


<div class="  mx-auto mt-16 bg-white rounded-lg shadow-md w-1/4  ">
    <div class="px-6 py-8">
        <h2 class="text-2xl font-bold text-purple-700">Mon Profil</h2>
        <p class="mt-2 text-gray-500">Informations personnelles</p>
        <div class="mt-4">
            <div class="flex items-center">
                <img src="avatar.jpg" alt="Avatar" class="w-12 h-12 rounded-full">
                <div class="ml-4">
                    <h3 class="text-lg font-semibold text-gray-800">{{ user.last_name }}</h3>
                    <p class="text-purple-700">Développeur</p>
                </div>
            </div>
            <div class="mt-4">
                <p class="text-gray-700">Email: <a href="mailto:{{ user.email }}" class="text-purple-700">
                        {{ user.email}}</a></p>
                <p class="text-gray-700">Téléphone:
                    <a href="tel:{{ user.phone_number }}" class="text-purple-700">{{ user.phone_number }}</a>
                </p>
                <p class="text-gray-700">Adresse:
                    <i class=" font-semibold">{{ user.city }}, {{ user.country }}</i>
                </p>
                <br>
                <a href="{% url 'delete_account' %}" class=" bg-red-500 text-white p-3 mt-10 rounded-lg">
                    Supprimer mon compte</a>

            </div>

        </div>
    </div>

</div>


{% endblock content %}