{% extends 'base.html' %}
{% block title %}Accueil - Starland Learn{% endblock%}
{% block content %}
<div class="flex flex-col">
    <h1
        class="text-5xl font-bold text-white mt-10 opacity-0 transform translate-x-0 transition-opacity duration-1000 delay-500">
        Bienvenue sur notre site de e-learning !
    </h1>
    <p class="text-2xl text-gray-100 mt-5 opacity-0 transform translate-x-0 transition-opacity duration-1000 delay-800">
        Commencez dès maintenant votre parcours d'apprentissage.
    </p>


    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}"
        class="h-12 text-center bg-gradient-to-r from-purple-500 to-purple-700 text-white font-bold py-3 mt-4 px-4 rounded-xl w-80 opacity-0 transform translate-x-0 transition-opacity duration-1000 delay-1100">
        Commencer
    </a>

    {% else %}


    {% if user.is_teacher %}
    <a href="{% url 'create_course' %}"
        class="h-12 text-center bg-gradient-to-r from-purple-500 to-purple-700 text-white font-bold py-3 mt-4 px-4 rounded-xl w-80 opacity-0 transform translate-x-0 transition-opacity duration-1000 delay-1100">
        Creer un cours
    </a>

    {% endif %}



    {% endif %}



</div>

<h1 class="mt-10 font-bold text-4xl text-blue-100">Nos cours</h1>
<hr class="mt-4" />


<div class=" grid grid-cols-1 lg:grid-cols-3 gap-10 mt-5">
    {% for course in courses %}
    {% include 'courses/course_card.html' with course=course %}
    {% endfor %}
</div>



{% endblock %}


{% block styles %}

<style>
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .flex {
        animation: slideIn 1s ease-in-out forwards;
    }

    .opacity-0 {
        animation: fadeIn 1s ease-in-out forwards;
    }
</style>

{% endblock styles %}